<div class="card">
    <h2 class="card-title">Card Bonito</h2>

    <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quia, nulla ea voluptas ab ratione quidem error at magni ut, obcaecati ducimus quis voluptates est dignissimos, neque quibusdam optio repellendus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ad ea dolorem optio id, maxime veniam, perspiciatis provident error vitae placeat itaque voluptatibus illo sed incidunt possimus eveniet, adipisci officia!</p>
    </div>
</div>