<main> <h1>Formulário</h1>
    <div class="leiaut">
        <div class="setor">
            <label>Digite seu nome:</label>
            <app-input-type-text></app-input-type-text>
        </div>
        <div class="setor">
            <label>Digite seu nome de usuário:</label>
            <app-input-type-text></app-input-type-text>
        </div>
        <div class="setor">
            <label>Digite seu email:</label>
            <app-input-type-email></app-input-type-email>
        </div>
        <div class="setor">
            <label>Digite sua senha:</label>
            <app-input-type-password></app-input-type-password>
        </div>
        <div class="setor">
            <label>Digite sua senha novamente:</label>
            <app-input-type-password></app-input-type-password>
        </div>
        <div class="setor">
            <label>Eu aceito todos os termos:</label>
            <app-input-type-check></app-input-type-check>
        </div>
        
    </div>
    
    <div class="setor">
        <app-input-type-button></app-input-type-button>
    </div>
    
    
   
    
</main>

